#mem-add {
  background-color: #54b5ff;
  border: 1px solid #54b5ff;
  transition-duration: 0.3s;
}

#mem-add:hover {
  background-color: #88c5ff;
  border: 1px solid #88c5ff;
}

#change-position {
  margin-top: 5px;
  margin-bottom: 5px;
}

#mem-del {
  margin-top: 5px;
  margin-bottom: 5px;
}

ul#employee-list {
  list-style: none;
  padding-left: 0;
}

ul#employee-list > div > .icon {
  margin-right: 10px;
  border-bottom: 25px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border-radius: 20%;
  background-color: #860e16;
}

ul#employee-list > div > .icon::before {
  content: "";
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  background-color: #fff;
}

ul#employee-list > div > li {
  width: 100%;
  margin-bottom: 10px;
  background-color: rgb(244 244 244);
  border-radius: 5px;
  transition-duration: 0.5s;
}

ul#employee-list > div > li:hover {
  margin-bottom: 10px;
  background-color: rgb(220 220 220);
}

ul#employee-list > div > li > .row {
  width: max-content;
  margin-left: 10px;
}
