.myrow {
  display: flex;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: blue;
  height: 50px;
}

#sidebar-disp {
  margin: 5px;
}

#user {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.below-header {
  padding-top: 50px;
}
